@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #2C2C2D;
}

nav{
display: flex;
flex-direction: row;
}

.cabecalho{
  display: flex;   
  align-items: center;
  background-color: #2C3E50;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-bottom: 0.1px solid #C5A880;
}

.botao-cabecalho{
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 0.4px solid #F5F5DC;
  margin: 8px;
  cursor: pointer;
}

.botoes-cabecalho{
  margin-left: auto;
}

.texto-imagem {
  position: relative;
  background-image: url(/resource/1.jpg);
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #F5F5DC;
}

.texto-imagem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(75, 75, 75, 0.6);
  z-index: 1;
}

.texto-imagem * {
  position: relative;
  z-index: 2;
}

.texto{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1{
  color: #C5A880;
}

.botoes-menu{
  margin: 30px;
}

.botoes-acao{
  display: flex;
  width: 150px;
  height: 30px;
  color: #1D1B20;
  padding: 8px;
  margin: 15px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  background-color: #C5A880;
  justify-content: center;
  cursor: pointer;
}

.botoes-acao:hover {
  background-color: #b09070;
}

#container-resenhas{
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.resenha-item{
  display: flex;
  gap:1em;
}

.conteudo-container{
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.info-container{
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.imagem{
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.nome{
  color: #C5A880;
}

.resenhas{
  padding: 10px;
  background-color:aliceblue;
  width: 850px;
  height: 100px;
  border-radius: 10px;
  border: 3px double #C5A880;
}

.avaliacao {
    display: inline-block;
}

.star-label {
    font-size: 1.5em;
    color: #C5A880;
}
