@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #2C2C2D;
}

.container {
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Distribui o espaço entre as divs */
  gap: 20px; /* Espaçamento entre as divs */
  padding: 20px;
}

.cabecalho{
  display: flex;   
  align-items: center;
  background-color: #2C3E50;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-bottom: 0.1px solid #C5A880;
}

.botao-cabecalho{
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 0.4px solid #F5F5DC;
  margin: 8px;
  cursor: pointer;
}

.botoes-cabecalho{
  margin-left: auto;
}

.meta-de-leitura{
  background-color: #4b4b4b80;
  width: 347px;
  height: 370px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100px;
}

.metaAnual{
  font-size: 40px;
  color:#F5F5DC;
  font-weight: bold;
  -webkit-text-stroke: #C5A880 1px;
}

h1{
  color: #FFFFFF;
  font-size: 28px;
  -webkit-text-stroke: #C5A880 1px;
  border-bottom: 0.2px solid #c5a880;
  margin: 30px;
}

h2{
  color: #FFFFFF;
  font-size: 28px;
  -webkit-text-stroke: #C5A880 1px;
  margin: 30px;
}

#statusLivro{
  background-color: #F5F5DC;
  width: 200px;
  font-weight: bold;
  padding: 7px;
  border-radius: 200px;
  margin: 20px;
  margin-top: 40px;
}

.botoes{
  display: flex;
  width: 150px;
  height: 30px;
  color: #1D1B20;
  padding: 8px;
  margin:5px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  background-color: #C5A880;
  justify-content: center;
  cursor: pointer;
}

.botoes-menu{
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

.botoes:hover {
  background-color: #b09070;
}

.prompt {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
  justify-content: center;
  align-items: center;
}

.conteudoPrompt {
  display: flex;
  background-color: #2D2C2C;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputPrompt {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.conteudoPrompt button {
  cursor: pointer;
  display: flex;
  width: 150px;
  height: 30px;
  color: #1D1B20;
  padding: 8px;
  margin:15px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  background-color: #C5A880;
  justify-content: center;
  cursor: pointer;
}

.listaCheckbox {
  margin-top: 20px;
}

.listaCheckbox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.listaCheckbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.listaCheckbox label {
  font-size: 18px;
  font-weight: bold;
  color: #F5F5DC;
}

.listaCheckbox input[type="checkbox"]:hover {
  cursor: pointer;
}

.listaCheckbox input[type="checkbox"]:checked {
  accent-color: #2d2d2d;
}