@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #2C2C2D;
}

.cabecalho{
  display: flex;   
  align-items: center;
  background-color: #2C3E50;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-bottom: 0.1px solid #C5A880;
}

.botao-cabecalho{
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 0.4px solid #F5F5DC;
  margin: 8px;
  cursor: pointer;
}

.botoes-cabecalho{
  margin-left: auto;
}

.texto-imagem {
  position: relative; /* Importante para o posicionamento da pseudo-classe */
  background-image: url(/resource/1.jpg);
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #F5F5DC;
}

.texto-imagem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(75, 75, 75, 0.6); /* Ajuste a cor e opacidade conforme necessário */
  z-index: 1; /* Coloca a camada de fundo atrás do conteúdo */
}

.texto-imagem * {
  position: relative;
  z-index: 2; /* Garante que o conteúdo fique acima da pseudo-classe */
}

.texto{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1{
  color: #C5A880;
}

.container{
  display: flex;
  margin-top: 14px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.botoes-acao-container{
  display: flex;
  width: 80%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.botoes-acao{
  display: flex;
  width: 120px;
  height: 30px;
  color: #1D1B20;
  padding: 8px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  background-color: #C5A880;
  justify-content: center;
  cursor: pointer;
}

.botoes-acao:hover{
  background-color: #b09070;
}


#pesquisar-livro{
  display: flex;
  color: #1D1B20;
  width: 500px;
  height: 30px;
  padding: 8px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  margin-top: 25px;
}

.container-filtragem{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.titulo-filtragem{
  color: #C5A880;
}

#filtrar-genero{
  width: 240px;
  background-color: #F5F5DC;
  color: #1D1B20;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.titulo-carrossel{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #C5A880;
  margin-top: 50px;
}

  .carrossel-livros{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 220px;
    background-color: rgba(75, 75, 75, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;    
  }

  .container-livros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .info-livro, .info-trash{
    list-style: none;
    border: none;
    background-color: rgb(44, 44, 45, 0.5);
    width: 140px;
    height: 210px;
    box-shadow: 0px 2px 4px rgba(45, 45, 45, 0.5);
  }

  .imagem-capa{
    width: 140px;
    height: 210px;
    object-fit: cover;
  }

  .seta{
    background-color: transparent;
    border: none;
  }

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .titulo-filtragem{
    font-size: 14px;
  }
  #pesquisar-livro{
    width: 350px;
    margin-top: 20px;
  }
  .titulo-carrossel{
    font-size: 18px;
  }
  .carrossel-livros{
    height: 150px;
  }
  .logo{
    width: 200px;
  }
  .cabecalho{
    height: 80px;
  }
  .container-imagem{
    height: 300px;
  }
  .botoes-acao{
    width: 85px;
    font-size: 12px;
  }
  .info-livro, .info-trash{
    width: 100px;
    height: 140px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .imagem-capa{
    width: 100px;
    height: 140px;
  }
  .container-livros .info-livro:nth-last-child(-n+1) {
    display: none;
  }
  .container-livros .info-trash:nth-last-child(-n+1){
    display: none;
  }
}

@media (max-width: 600px){
  .container-livros .info-livro:nth-last-child(-n+2) {
    display: none;
  }
  .container-livros .info-trash:nth-last-child(-n+2) {
    display: none;
  }
}


