@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #2C2C2D;
}

.cabecalho{
  display: flex;   
  align-items: center;
  background-color: #2C3E50;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-bottom: 0.1px solid #C5A880;
}

.botao-cabecalho{
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 0.4px solid #F5F5DC;
  margin: 8px;
}

.botoes-cabecalho{
  margin-left: auto;
}

.imagem-principal{
  width: 100%;
  height: auto;
  max-height: 408px;
  filter:opacity(60%);
  object-fit: cover;
}

.texto-imagem{
  background-image: url(/resource/teste.imagem\ 1.svg);
  background-size:contain;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  color: #F5F5DC;
}

.botoes-menu{
  margin: 30px;
}

.botoes-acao{
  display: flex;
  width: 150px;
  height: 30px;
  color: #1D1B20;
  padding: 8px;
  margin: 15px;
  border-radius: 6px;
  border: 0.5px solid #C5A880;
  background-color: #C5A880;
  justify-content: center;
}