/* Estilo do body */
body {
  background-color: #2c2c2d;
  font-family: "Koh Santepheap", sans-serif;
}

/* Estilo do cabeçalho */
.cabecalho {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  width: 98%;
  height: 100px;
  padding: 20px;
  border-bottom: 0.1px solid #c5a880;
  justify-content: space-between; /* Distribui elementos com espaço entre eles */
}

/* Estilo da logo */
.logo {
  width: 200px; /* Largura da logo */
  height: auto; /* Ajusta altura automaticamente */
}

/* Estilos dos botões do cabeçalho */
.botao-cabecalho {
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 0.4px solid #f5f5dc;
  margin: 8px;
}

.botoes-cabecalho {
  display: flex; /* Alinha botões horizontalmente */
}

/* Estilo do container principal */
.container {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  margin: 20px auto; /* Margem superior/inferior e centralizado horizontalmente */
  width: 80%;
  max-width: 1200px; /* Largura máxima do container */
}

/* Estilo do título "Meus Livros" */
h2 {
  color: #c5a880;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.titulo-filtragem {
  color: #c5a880;
}

/* Estilos dos filtros */
.filtros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-filtro {
  display: flex;
  flex-direction: column;
}

.select-filtro label {
  color: #c5a880;
  margin-right: 10px;
}

#filtro-genero {
  background-color: #f5f5dc;
  color: #1d1b20;
  border-radius: 5px;
  padding: 8px;
  border: none; /* Remove a borda padrão */
}

.carrossel-livros {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 220px;
  background-color: rgba(75, 75, 75, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.container-livros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.info-favoritos {
  list-style: none;
  border: none;
  background-color: rgb(44, 44, 45, 0.5);
  width: 140px;
  height: 210px;
  box-shadow: 0px 2px 4px rgba(45, 45, 45, 0.5);
}

.imagem-capa {
  width: 140px;
  height: 210px;
  object-fit: cover;
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease;
}

.imagem-capa:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgb(29, 27, 32);
}

.seta {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 35px;
  align-self: center;
}

@media (max-width: 480px) {
  .cabecalho {
    flex-direction: column; /* Coloca logo e botões em coluna */
    height: auto; /* Ajusta altura do cabeçalho automaticamente */
    padding: 10px; /* Reduz padding do cabeçalho */
  }

  .logo {
    width: 150px; /* Reduz tamanho da logo */
    margin-bottom: 10px; /* Adiciona margem abaixo da logo */
  }

  .botoes-cabecalho {
    flex-direction: column; /* Coloca botões em coluna */
    align-items: center; /* Centraliza botões horizontalmente */
  }

  .botao-cabecalho {
    margin: 5px 0; /* Ajusta margem dos botões */
  }

  h2 {
    font-size: 2em; /* Reduz tamanho do título */
  }

  .filtros {
    justify-content: center; /* Centraliza os filtros */
    margin-bottom: 10px; /* Reduz margem inferior dos filtros */
  }

  .select-filtro {
    flex-direction: column; /* Coloca label e select em coluna */
    align-items: flex-start; /* Alinha label e select à esquerda */
  }

  .select-filtro label {
    margin-bottom: 5px; /* Adiciona margem abaixo do label */
  }

  .livro {
    width: 50%; /* Faz com que cada livro ocupe 100% da largura */
    margin: 10px 0; /* Ajusta margem dos livros */
  }
}
